{% extends 'base.html.twig' %}

{% block title %} Espace Admin !{% endblock %}

{% block body %}

    <div class="content_page">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">YouFLix</a>
            <h2 class="text-white">- Espace ADMIN -</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}"> &lt; Retour</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% if users | length > 0 %}
        <p>List of users :</p>
        {%  for user in users if not ('ROLE_ADMIN' in user.roles) %}
            <hr>
        <div>
            <h3 class="text-primary">{{ user.nickname }} <a href="{{ path('edit_info_user_by_admin') }}/{{ user.id }}" ><button class="btn btn-primary">Editer les infos du compte</button></a>
            </h3>
            <div>

                {% for user_video in videos if user_video.iduser.id == user.id %}
                    <a href="{{ path('edit_video_user_by_admin') }}/{{ user.id }}/{{ user_video.id }}" ><button class="btn btn-primary">Editer la vidéo</button></a>
                    <a href="{{ path('delete_video_user_by_admin') }}/{{ user.id }}/{{ user_video.id }}" ><button class="btn btn-primary">Supprimer la vidéo</button></a>
                    <h4>{{ user_video.title }}</h4> <iframe width="560" height="315" src=" {{ user_video.url | replace({'watch?v=': 'embed/'})  ~ '?rel=0&showinfo=0' }} " frameborder="0" allow="encrypted-media" allowfullscreen></iframe> <p>{{ user_video.description }}</p>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <p>Aucun utilisateur trouvé !</p>
        {% endfor %}

    {% else %}
        <p>Il n'y a aucun utilisateur dans la base de données.</p>
    {% endif %}

{% endblock %}
